.main-heading {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.search-form__input {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  padding: 0.5rem;
  font-family: inherit;
  border: 1px solid grey;
  box-shadow: none;
}

.radio-form {
  margin-bottom: 2rem;
}

.radio-form__text {
  display: inline;
  margin-right: 1rem;
}

.radio-form__label {
  margin-right: 1.5rem;
}

.radio-form__input {
  margin-left: 0.5rem;
}
